.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(28, 28, 28, 0.5);
}

.barContent {
    display: flex;
    flex-direction: column;
}

.barTimer {
    text-align: right;
    padding-right: 15px;
}

.barPlayerBlock {
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barPlayer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}