.filterContainer {
  position: relative;
}

.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}

.filterButton:not(:last-child) {
  margin-right: 10px;
  position: relative;
}

.active {
}

.filterButton.active {
  border-color: #9a48f1;
  color: #b672ff;
}

.filterPopupCount {
  display: none;
  position: absolute;
  top: -7px;
  right: 0px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  background-color: #b672ff;
}

.filterPopupCount.active {
  display: inline;
}

.filtered::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #b672ff;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filerPopupContainer {
  display: flex;
  top: calc(100% + 10px);
  position: absolute;
  width: 248px;
  background: #313131;
  min-width: 248px;
  border-radius: 12px;
  max-height: 305px;
  padding: 0 34px 0 34px;
  transition: padding 0.4s ease;
}

.filerPopupContainer.active {
  padding: 34px;
}

.filterPopup {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow-y: auto;
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

.filerPopupContainer.active .filterPopup {
  height: auto;
}

.filterPopup::-webkit-scrollbar {
  width: 10px;
}

.filterPopup::-webkit-scrollbar-track {
  background: #4b4949;
  border-radius: 10px;
}

.filterPopup::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.filterPopupItem {
  cursor: pointer;
}

.selected {
  color: #ad61ff;
  text-decoration: underline;
}

.filterPopupItem:hover {
  color: #d9b6ff;
}
