.playerControls {
	display: flex;
	flex-direction: row;
	padding: 0 27px 0 31px;
}

.playerBtnPrev {
	padding: 5px;
	display: flex;
	align-items: center;
	margin-right: 23px;
}

.playerBtnPrevSvg {
	width: 15px;
	height: 14px;
}

.playerBtnPlay {
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-right: 23px;
}

.playerBtnPlaySvg {
	width: 22px;
	height: 20px;
	fill: #d9d9d9;
}

.playerBtnNext {
	margin-right: 28px;
	fill: #a53939;
	padding: 5px;
	display: flex;
	align-items: center;
}

.playerBtnNextSvg {
	width: 15px;
	height: 14px;
	fill: inherit;
	stroke: #d9d9d9;
}

.playerBtnRepeat {
	margin-right: 24px;
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.playerBtnRepeatSvg {
	width: 18px;
	height: 12px;
	fill: #696969; /* установить цвет заливки по умолчанию */
	vector-effect: non-scaling-stroke; /* добавить векторный эффект */
	pointer-events: none; /* добавить события указателя */
}

.playerBtnShuffle {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
}

.playerBtnShuffleSvg {
	width: 19px;
	height: 12px;
	fill: #696969; /* установить цвет заливки по умолчанию */
	vector-effect: non-scaling-stroke; /* добавить векторный эффект */
	pointer-events: none; /* добавить события указателя */
}
.playerBtnRepeat:active .playerBtnRepeatSvg {
	fill: #e716ba; /* override fill color on active state */
	stroke: #e716ba;
	stroke-width: 1px; /* add stroke width */
}

.playerBtnShuffle:active .playerBtnShuffleSvg {
	fill: #e716ba; /* override fill color on active state */
	stroke: #e716ba;
	stroke-width: 1px; /* add stroke width */
}
