.playerTrackPlay {
    display: flex;
    flex-direction: row;
}

.trackPlayContain {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image author""image album";
    align-items: center;
}

.trackPlayImage {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    grid-row: 1;
    grid-column: 1;
    grid-area: image;
}

.trackPlaySvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.trackPlayAuthor {
    grid-row: 1;
    grid-column: 2;
    grid-area: author;
    min-width: 49px;
}

.trackPlayAuthorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    white-space: nowrap;
}

.trackPlayAlbum {
    grid-row: 2;
    grid-column: 2;
    grid-area: album;
    min-width: 49px;
}

.trackPlayAlbumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
}

.trackPlayLikeDis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26%;
}

.trackPlayLike {
    padding: 5px;

    &:hover svg {
        fill: transparent;
        stroke: #acacac;
        cursor: pointer;
    }

    &:active svg {
        fill: transparent;
        stroke: #ffffff;
        cursor: pointer;
    }
}

.trackPlayLikeSvg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;

    &:active {
        fill: #696969;
        stroke: #ffffff;
        cursor: pointer;
    }
}

.trackPlayDislike {
    padding: 5px;
    margin-left: 28.5px;

    &:hover svg {
        fill: transparent;
        stroke: #acacac;
        cursor: pointer;
    }

    &:active svg {
        fill: transparent;
        stroke: #ffffff;
        cursor: pointer;
    }
}

.trackPlayDislikeSvg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;

    &:active {
        fill: #696969;
        stroke: #ffffff;
        cursor: pointer;
    }
}